<!-- Toolbar -->
<div class="toolbar" role="banner">
  <p style="text-align: center; margin: auto">search with username</p>
</div>
<div class="searchbar">
  <input type="seatch" [(ngModel)]="searchText" (keyup.enter)="getUserData()" />
  <p *ngIf="error">
    this username dosen't exist
  </p>
</div>
<div class="content">
  <div class="person" *ngIf="!error && userData">
    <div class="image">
      <img [src]="userData?.person?.pictureThumbnail" alt="" />
    </div>
    <h1>{{ userData?.person.name }}</h1>
    <span class="title"> {{ userData?.person?.professionalHeadline }}</span>

    <h4>Education</h4>
    <div class="properties">
      <p class="edu" *ngFor="let ed of userData?.education">
        {{ ed?.name }}
      </p>
    </div>

    <h4>Experiences</h4>
    <div class="properties">
      <p class="exp" *ngFor="let ex of userData?.experiences">
        {{ ex?.name }}
      </p>
    </div>

    <h4>Awards</h4>
    <div class="properties">
      <p class="award" *ngFor="let ex of userData?.awards">
        {{ ex?.name }}
      </p>
    </div>
    <h4>Languages</h4>
    <div class="properties">
      <p class="langs" *ngFor="let ex of userData?.languages">
        {{ ex?.language }}-{{ex?.fluency}}
      </p>
    </div>
  </div>
  <div class="person" *ngIf="!error && userData">
    <h4>Skills</h4>
    <div class="skills">
      <p class="skill" *ngFor="let ed of userData?.strengths" >
        {{ ed?.name }}
      </p>
      
    </div>
  </div>

  <div class="person" *ngIf="!error && userData">
    
    </div>
</div>
<router-outlet></router-outlet>