<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="title-container">
    <h1 class="doc-title">Torre - SW Engineering Technical Testing</h1>
    <p class="subtitle">Display User Info</p>
  </div>
</div>

<div class="searchbar">
  <input [(ngModel)]="searchText" type="text" placeholder="Search for a Torre user..." (keydown.enter)="getUserData()">
  <button (click)="getUserData()" class="search-btn"><i class="fa fa-search"></i></button>
  <p *ngIf="error">
    THIS USERNAME DOESN'T EXIST
  </p>
</div>

<div class="content">
  <div class="card" *ngIf="!error && userData">
    <div class="image">
      <img [src]="userData?.person?.pictureThumbnail" alt="" />
    </div>
    <h1>{{ userData?.person.name }}</h1>
    <span class="usertitle"> {{ userData?.person?.professionalHeadline }}</span>

    <h3>Education</h3>
    <div class="properties">
      <p class="edu" *ngFor="let ed of userData?.education">
        {{ ed?.name }}
      </p>
    </div>

    <h3>Experiences</h3>
    <div class="properties">
      <p class="exp" *ngFor="let ex of userData?.experiences">
        {{ ex?.name }}
      </p>
    </div>
  </div>
  <div class="card" *ngIf="!error && userData">
    <h3>Skills</h3>
    <div class="properties">
      <app-skills [skills]="userData?.strengths" (onSelect)="onSkillSelected($event)" />
    </div>

    <h3>Awards</h3>
    <div class="properties">
      <p class="award" *ngFor="let ex of userData?.awards">
        {{ ex?.name }}
      </p>
    </div>
    <h3>Languages</h3>
    <div class="properties">
      <p class="langs" *ngFor="let ex of userData?.languages">
        {{ ex?.language }}-{{ex?.fluency}}
      </p>
    </div>
  </div>

  <div class="card" *ngIf="!error && userData">
    <div class="skill-card" *ngIf="selectedSkill">
        <h3>{{ selectedSkill?.name }}</h3>
        <p class="prof">Proficiency: {{ selectedSkill?.proficiency}}</p>
        <p class="recommend">Recommendations: {{ selectedSkill?.recommendations }}</p>
        <p class="weight">Weight: {{ selectedSkill?.weight }}</p>
    </div>
  </div>
  

</div>
<router-outlet></router-outlet>